!!!
%html
  %head
    %title 1kpl.us - an rss reader
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "app/defer/mp"
    = javascript_include_tag "app/defer/ga"
    = javascript_include_tag "application"
    = stylesheet_link_tag    "wide", :media => "screen and (min-width: 1310px)"
    = csrf_meta_tags


  %body
    #new-user-account-container
      #new-user-account.well
        = yield

    #site-header
      #site-header-inner
        .navbar
          .navbar-inner
            .container
              %a.brand{:href => "/"} 1kpl.us - a news reader


    %div{:style => "display: none;"}
      nr2131235634445621234nr

